{% extends 'index.html' %}

{% block title %}
    Password Reset
{% endblock %}


{% block content %}
    <section class="post post-form login-form" method="post">
        <h1>Password has changed successfully!</h1>
        <div class="password-reset">
            <style>
                p {
                    font-size: 1.2rem;
                }
            </style>
            <p>
                <a href="{% url 'users:login' %}">Login</a>
            </p>
        </div>
    </section>
{% endblock %}